.bigHeader {
             color: blue;
             font-size: 20pt;
             text-align : center;
             font-family: corbel;
             font-weight: bold;
}

.small {
            color: red;
            font-size: 10pt;
}